@using ClassLibrary_GT_RT;
@using GT_RT_FrontEnd.Interfaces;
@using System.Diagnostics
@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GT3 Racing Team</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-item px-3">
    @if (FotoPiloto != null)
    {
        <img src="data:image;base64,@Convert.ToBase64String(FotoPiloto)" alt="Foto do Piloto" style="max-width: 200px; max-height: 200px;" />
    }
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pilotos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ListaDeCorridas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Corridas
            </NavLink>
        </div>       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ListaDeCompeticoes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Competições
            </NavLink>
        </div>


        <hr style="border-top: 20px solid #000;">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CriarPilotos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Pilotos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CriarCorridas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Corridas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CriarResultadosCorrida">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Resultados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CriarCompeticao">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Competições
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private byte[] FotoPiloto { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Piloto piloto = await WebServiceAPI.GetPiloto(1031); //1031 É o PILOTO que tem Logotipo nesta base de dados
            FotoPiloto = piloto.Foto;
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }
}