<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GT Racing Team</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ListaDeCorridas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista De Corridas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>


        <hr style="border-top: 20px solid #000;">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CriarPilotos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Criar/Editar Piloto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CriarCorridas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Criar/Editar Corrida
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CriarResultadosCorrida">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Criar/Editar Resultado
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}