@*@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using ClassLibrary_GT_RT;
@using GT_RT_FrontEnd.Interfaces;
@using System.Diagnostics
@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager

@code {
    SfSidebar sidebarObj;
    public bool SidebarToggle = false;


    public void Close()
    {
        SidebarToggle = false;
    }


}

<div id="header" style="height:45px;text-align: center;color:white;background-color:midnightblue;font-size:1.2rem;line-height:45px;">
    Header
</div>

<SfSidebar @ref="sidebarObj" Animate="false" EnableRtl="true" Width="250px" @bind-IsOpen="SidebarToggle">
    <ChildContent>
        <div style="text-align: center;" class="text-content">
            <span>Sidebar</span>
            <span>
                <SfButton @onclick="Close" CssClass="e-btn close-btn">Close Sidebar</SfButton>
            </span>
        </div>

        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">GT3 Racing Team</a>
            </div>
        </div>


        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link " href="" Match="NavLinkMatch.All">
                    <i class="bi bi-person-fill me-1"></i> Pilotos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/ListaDeCorridas">
                    <i class="bi bi-ev-front-fill me-1"></i> Corridas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/ListaDeCompeticoes">
                    <i class="bi bi-trophy-fill me-1"></i> Competicoes
                </NavLink>
            </div>


            <hr style="border-top: 20px solid #000;">

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/CriarPilotos">
                    <i class="fa-sharp fa-solid fa-user-plus me-2" style="color: #1d9064;"></i> Manage Pilotos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/CriarCorridas">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Corridas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/CriarResultadosCorrida">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Resultados
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/CriarCompeticao">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Competicoes
                </NavLink>
            </div>
        </nav>
    </ChildContent>
</SfSidebar>

<div class="text-content" style="text-align: center;">Main content</div>

<style>
    .e-sidebar {
        background-color: #f8f8f8;
        color: black;
    }

    .text-content {
        font-size: 1.5rem;
        padding: 3rem;
    }

    .main > div {
        padding: 0px !important;
    }
</style>*@