@*@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@


@page "/"
@using ClassLibrary_GT_RT;
@using Interfaces;
@using System.Diagnostics;
@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager

<h2>Lista de Pilotos</h2>

@if (Pilotos is not null && Pilotos.Any())
{
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var piloto in Pilotos)
            {
                <tr>
                    <td style="padding: 20px;">@piloto.Nome</td>
@*                    <td style="padding: 20px;">@piloto.Category</td>
                    <td style="padding: 20px;">@piloto.Price €</td>*@
                    <td style="padding: 20px;">@piloto.Descricao</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Piloto> Pilotos { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await WebServiceAPI.GetPilotos();
            Pilotos = response.Where(p => !p.IsDeleted).ToList();
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }

    private async Task Deletepiloto(int id)
    {
        try
        {
            await WebServiceAPI.DeletePiloto(id);
            Pilotos.RemoveAll(p => p.Id_piloto == id);
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }
    private void Editpiloto(int id)
    {
        NavigationManager.NavigateTo($"/EditarPiloto/{id}");
    }
}