@page "/ResultadoCorrida-details/{id:int}"

@using ClassLibrary_GT_RT;
@using GT_RT_FrontEnd Interfaces;
@using System.Diagnostics;
@inject GT_RT_FrontEnd.Interfaces.IWebServiceAPI WebServiceAPI;

<h2>Detalhes do Resultado de Corrida</h2>

@if (ResultadoCorrida != null)
{
    <p><strong>ID do Resultado de Corrida:</strong> @ResultadoCorrida.Id_ResultadoCorrida</p>
    <p><strong>Tempo Total:</strong> @ResultadoCorrida.Tempo_total</p>
    <p><strong>Pontos:</strong> @ResultadoCorrida.Pontos</p>
}
else
{
    <p>O resultado de corrida não foi encontrado.</p>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private ResultadoCorrida ResultadoCorrida { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ResultadoCorrida = await WebServiceAPI.GetResultadoCorrida(Id);
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }
}